/* Primary colors */
$brand-green: #00856f;
$brand-green-light: #dce9e2;
$brand-green-light-02: #f7f9f9;
$brand-beige: #fffaf1;
$brand-green-hover: #00453a;

/* Secondary colors */
$gray-headline: #212529;
$gray-paragraph: #495057;
$brand-white: #ededed;

/* Font */
$font-main: "DM Sans", sans-serif;
