@import "../vars";

.footer {
  padding: 60px 0;
  background-color: $brand-green;
  color: $brand-beige;

  &-container {
    @media screen and (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
    }
  }

  &-logo {
    margin-bottom: 24px;
  }

  &-info-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 0 32px;
  }

  svg path {
    fill: $brand-beige;
  }
}
